<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Nomad Pass - Community</title>
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

  <link href="css/index.css" type="text/css" rel="stylesheet" />
  <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
  <link href="css/font-awesome.css" type="text/css" rel="stylesheet" />
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,700,300,400' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>    
    
  <link rel="stylesheet" href="css/app.css">
    
  <!-- Javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="lib/underscore-1.4.4.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <!-- We use client cookies to save the user credentials -->
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-9.0.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"> </script>
</head>
<body>
  <header>
    <div class="header" class="nav navbar-inverse" role="navigation">
        <img class="logo" src="/app/img/logo.png" ></img>
        <input type="submit" class="logoutBtn btnData pull-right" ng-click="logout()" value="Logout">
        <p class="headerText pull-right"><a href="">List Your Space</a></p>
        <p class="headerText pull-right"><a href="http://nomadpass.com/index.php/en/5/about_us">About Us</a></p>
        <p class="headerText pull-right"><a href="http://nomadpass.com/index.php/destination/index">Destination</a></p>
    </div>
  </header>
    
  <div class="subHeader" class="nav navbar-inverse" role="navigation">
      <p class="subHeaderText pull-left"><a href="">My Pass</a></p>
      <p class="subHeaderText pull-left"><a href="">Community</a></p>
      <p class="subHeaderText pull-left"><a href="">Survival Guide</a></p>
      <p class="subHeaderText pull-left"><a href="">City</a></p>
      <p class="subHeaderText pull-left"><a href="">Edit My Profile</a></p>
  </div>
    
    <input type="submit" class="loginBtn btnData" ng-controller="LoginCtrl" ng-click="auth.signin()" value="Log In">

  <div id="centeredContent">
      <div class="largePin"></div>
      <div class="title1">Nomad Pass Community</div>
      <div class="title2">Find your fellow nomads around the globe.</div>
  </div>

  <div class="map"></div>

  <div class="grayBackground">
      <div id="centeredContent">
          <div class="titleRed">Search for Nomads by Continent</div>
          <ul class="locationSearchText menu">
              <li>North America</li>
              <li>South America</li>
              <li>Europe</li>
              <li>Africa</li>
              <li>Asia</li>
              <li>Australia</li>
              <li>Antarctica </li>
          </ul>
        
          
        <input type="submit" class="btn btnText btnData" value="Meet Other Nomads">
      </div>
  </div>
  

  <div class="footer" role="navigation">
    <div class="footerText">&#169; 2015 NomadPass. All Rights Reserved</div>
    <div class="pull-right socialiconrow">
        <a target="_blank" href="mailto:hello@nomadpass.com"><div class="mailicon pull-left"></div></a>
        <a target="_blank" href="https://www.facebook.com/nomadpass/"><div class="fbicon pull-left"></div></a>
        <a target="_blank" href="https://twitter.com/nomad_pass"><div class="twittericon pull-left"></div></a>
        <a target="_blank" href="https://www.instagram.com/nomadpass/"><div class="instagramicon pull-left"></div></a>
        <a target="_blank" href="https://www.linkedin.com/company/nomad-pass"><div class="linkedinicon pull-left"></div></a>
        <a target="_blank" href="http://www.meetup.com/Nomadpass/"><div class="meetupicon pull-left"></div></a>
    </div>
  </div>


  <!-- JS, Jquery, Bootstrap -->
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="lib/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap.js"></script>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        <script src="lib/angular/angular-route.min.js"></script>
  -->
  <script src="js/app.js"></script>
  <script src="js/config.js"></script>
  <script src="js/index.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="js/controllers/ItemController.js"></script>
  <script src="js/controllers/ItemListController.js"></script>
  <script src="js/controllers/LoginCtrl.js"></script>
  <script src="js/services/itemData.js"></script>
  <script src="js/services/UserInfoCtrl.js"></script>
  </body>
</html>
